body {
    background-color: #F2F1EF;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(10px, auto) minmax(290px, 480px) minmax(10px, auto);
    grid-template-areas: 
        ". header ."
        ". main ."
        "footer footer footer";
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: #444;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}


#game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px 12px;
}

.game-square {
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    box-shadow: 0px 0px 25px -5px rgba(0, 0, 0, 0.15);
    border-radius: 10%;
    transition: all 0.2s ease-in;
}

.game-square:hover {
    transform: translate(-3px, -3px);
    box-shadow: 3px 3px 25px -5px rgba(0, 0, 0, 0.15);
}

.game-square:active {
    transform: translate(1px, 1px);
    box-shadow: -1px -1px 25px -5px rgba(0, 0, 0, 0.15);
}

.square-content {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(85px + (185 - 85) * ((100vw - 320px) / (480 - 320)));
    cursor: pointer;
}

@media screen and (min-width: 320px) {
    .square-content {
        font-size: calc(85px + (135 - 85) * ((100vw - 320px) / (480 - 320)));
    }
}

@media screen and (min-width: 480px) {
    .square-content {
        font-size: 135px;
    }
}

.player-input {
    margin-top: 20px;
}

.player-input input {
    width: 100%;
    background-color: #F2F1EF;
    border: none;
    border-bottom: 1px solid #bbb;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 2.2em;
    color: #444;
}

.player-input input:focus {
    outline: none;
    border-bottom: 1px solid #444;
}

.player-input label {
    font-size: 1.2em;
}

.player-selections {
    margin-top: 20px;
}

p.selections {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 1.2em;
    cursor: pointer;
}

p.selections img {
    margin-left: 10px;
}

.hidden {
    display: none;
}

/* Buttons styles start */
button {
    display: inline-block;
    border: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    background: #F2F1EF;
    color: #444;
    font-family: inherit;
    font-size: inherit;
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.99);
}
/* Button styles end */